<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Servlet_Example</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ManageCars</servlet-name>
    <servlet-class>json.ManageCars</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCars</servlet-name>
    <url-pattern>/ManageCars</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxHandler</servlet-name>
    <servlet-class>json.AjaxHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxHandler</servlet-name>
    <url-pattern>/AjaxHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartScript</servlet-name>
    <servlet-class>json.StartScript</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartScript</servlet-name>
    <url-pattern>/StartScript</url-pattern>
  </servlet-mapping>
</web-app>